:root
{
    --primary-1: hsl(300, 43%, 22%);
    --primary-2: hsl(333, 80%, 67%);

    --neutral-1: hsl(303, 10%, 53%);
    --neutral-2: hsl(300, 24%, 96%);
    --neutral-3: hsl(0, 0%, 100%);

    --font-main: 'Spartan', sans-serif;
}

body {
    margin: 0;
}

.social-proof {
    font-size: 15px;
    font-family: var(--font-main);
    color: var(--primary-1);
    padding: 3em 0;
}

.social-proof, .social-proof * {
    margin-top: 0;
    box-sizing: border-box;
}

.social-proof, .social-proof *:last-child {
    margin-bottom: 0;
}


.social-proof h2 
{
    font-size: 1.85rem;
}

.social-proof p {
    line-height: 1.6;
}


.social-proof .block-1 {
    text-align: center;
    margin-bottom: 3.5em;
}

.social-proof .callout 
{
    margin-bottom: 2.5em;
}

.social-proof .callout p {
    color: var(--neutral-1);
}


.social-proof .ratings {
    font-size: 0.8rem;
    font-weight: 700;
}

.social-proof .rating {
    background-color: var(--neutral-2);
    padding: 1.2em 0;
    margin: 1em 0;
}

.social-proof .ratings .stars {
    margin-bottom: 0.7em;
}

.social-proof .ratings .stars img 
{
    margin: 0 0.3em;
}

.social-proof .ratings p {
    margin-bottom: 0;
}




.social-proof .testimonial {
    background-color: var(--primary-1);
    color: white;
    padding: 2em;
    border-radius: 3%;
    margin-bottom: 1em;
}

.social-proof .testimonial .profile {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1.7em;
}
.social-proof .testimonial .profile img {
    border-radius: 50%;
    margin: 0 1.5em 0 0;
    width: 45px;
}


.social-proof .testimonial .name 
{
    margin-bottom: 0;
    font-weight: 700;
}

.social-proof .testimonial .description {
    color: var(--primary-2);
}


.social-proof .testimonial .quote {
    font-size: 0.75rem;
    color: var(--neutral-2);
    line-height: 1.85;
}



.container 
{
    width: 90%;
    margin: 0 auto;
}